@import '@/app/main';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: $graphite;
}

a {
    color: $graphite;
}

body {
    padding-top: $headerHeight;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include phones600 {
        padding-top: 0;
        padding-bottom: $headerHeight;

    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.indents {
    padding: 0 40px;

    @include phones600 {
        padding: 0 20px;
    }
}