@import '@/app/main';

.wrapper {
    width: 100%;
    z-index: $header;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: $headerHeight;
    border-bottom: 1px solid $lightGrey;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    &.bottom {
        display: none;
    }

    @include phones600 {

        &.top {
            display: none;
        }
        &.bottom {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            top: unset;
            bottom: 0;
            border-top: 1px solid $lightGrey;
            border-bottom: none;
            padding: 0 10px;
        }


    }

}

.logo {
    // font-size: $averageFont;
    // font-weight: 500;
    // text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;

    height: 40px;
    width: 40px;
    min-width: 40px;

    // border: 1px solid $main2;
    border-radius: 8px 18px;

    transition: background-color .3s;

    background-color: $main;
    // &.active {
    // }

    @include phones600 {
        height: 50px;
        width: 50px;
        border-radius: 10px 22px;
        margin: auto;
        background-color: white;
        &.active {
            background-color: $main2;
            & .logoIcon {
                fill: $main;
                height: 35px;
            }
        }
    }
}

.logoIcon {
    height: 26px;
    width: auto;
    fill: white;
    

    @include phones600 {
        transition: height .3s, fill .3s;
        fill: $grey;
        height: 40px;
    }
}

.search {
    // flex: 1;
    all: unset;
    height: 30px;
    background-color: $lightGrey;
    border-radius: 15px;
    padding: 0 15px;
    box-sizing: border-box;

    font-size: $smallFont;
    width: 100%;
    max-width: 400px;
}

.side {
    display: flex;
    align-items: center;

    &:first-child {
        flex: 1;
        margin-right: 15px;
    }
}

.navLink {
    position: relative;
    text-decoration: none;

    display: flex;
    align-items: center;
    
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
    
    height: 30px;
    border: 1px solid $someGrey;
    border-radius: 15px;
    padding: 0 10px;

    transition: background-color .3s, border .3s;

    cursor: pointer;
    user-select: unset;

    &.userLink {
        padding-left: 3px;
        @include tablets850 {
            padding-right: 3px;
        }
    }

    &.active {
        background-color: $main2;
        border: 1px solid $main2;
        & .navIcon {
            stroke: $main;
        }

        & .navTitle {
            color: $main;
        }
        @include phones600 {
            border: none;

        }
    }

    @include phones600 {
        padding: 0;
        border: none;
        height: 50px;
        flex-direction: column;
        margin-right: 0;
        justify-content: center;
    }
}

.navIcon {
    width: 16px;
    height: auto;
    stroke-width: 1.5;
    stroke: $graphite;
    fill: none;

    transition: stroke .3s;
    
    &.user {
        width: 24px;
        height: auto;
        border-radius: 50%;
    }

    @include phones600 {
        stroke: $darkGrey;
        width: 20px;
        margin-bottom: 3px;
    }
}

.navTitle {
    // all: unset;
    margin-left: 6px;
    font-size: $smallFont;

    transition: color .3s;

    @include tablets850 {
        display: none;
        margin-left: 0;
    }

    @include phones600 {
        display: block;
        // font-weight: 500;
        color: $darkGrey;
    }
}

.notification {
    position: absolute;
    font-size: 10px;
    right: -5px;
    top: -5px;
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: 700;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    padding-bottom: .2px;

    &.active {
        display: flex;
    }

    @include phones600 {
        top: 15%;
        right: 38%;
        transform: translate(50%, -50%);
    }
}

// .user {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 30px;
//     min-width: 30px;
//     border-radius: 15px;
//     // background-color: $lightGrey;
//     border: 1px solid $someGrey;
//     cursor: pointer;

//     @include phones600 {
//         height: 50px;
//         flex-direction: column;
//         justify-content: center;
//         background-color: unset;
//     }
// }

// .avatar {
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//     background-color: white;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: $littleFont;
//     font-weight: 700;
// }

// .userName {
//     margin-right: 15px;
//     margin-left: 10px;
//     width: fit-content;
//     font-size: $smallFont;
//     white-space: nowrap;
// }



.menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    top: 40px;
    padding: 5px 0;
    border-radius: $standartBorderRadius;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    &.active {
        display: block;
    }
}


.menuItem {
    display: block;
    padding: 15px 20px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    &:hover {
        background-color: $lightGrey;
    }
}
