@import '@/app/main';

.wrapper {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: $averageFont;
    text-align: center;
    margin-bottom: 20px;
}

.tables {
    width: 100%;
    margin-bottom: 40px;
}

.tableWrapper {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: $lightWhiteTransparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    &:last-child {
        margin-bottom: 0;
    }
}

.tableTitle {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 20px 30px;

    @include phones600 {
        padding: 20px;
    }
}

.tableTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.tableTitleText {
    font-size: $littleFont;
    font-weight: 600;
    margin: 0;
}

.tableTitleArrow {
    height: 10px;
    width: 30px;
    stroke: $graphite;
    stroke-width: 1px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
    
    &.active {
        transform: rotate(180deg);
    }
}

.tableTitlePrice {
    font-size: $littleFont;
    font-weight: 600;
}

//--------------------------------------

.orderTableContainer {
    transition: height 0.3s ease-in-out;
    overflow: hidden;

    // &.active {
    //     transition: height 0.3s ease-in-out;
    //     height: 0 !important;
    // }
}

.orderTable {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

    @include phones600 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

//--------------------------------------

.orderTableHeadRow {
    height: 40px;
}

.orderTableHeadItem {
    font-size: $smallFont;
    font-weight: 600;
}

.orderTableName {
    text-align: start;
}

.orderTableBodyName {
    text-align: start;
}

//--------------------------------------



//--------------------------------------

.orderTableBodyRow {
    height: 40px;
}

.orderTableBodyItem {
    border-top: 1px solid $main2;
    font-size: $smallFont;
    font-weight: 300;
}

.orderTablePrice {
    text-align: end;
}

.orderTableBodyName {
    text-align: start;
    width: 50%;
}

.orderTableBodyCount {
    text-align: center;
    width: 20%;
}

.orderTableBodyPrice {
    text-align: end;
}

//--------------------------------------

.description {
    font-size: $smallFont;
    font-weight: 300;
    text-align: center;
    padding: 0 60px;
    margin-bottom: 30px;

    @include phones600 {
        padding: 0;
    }
}

.contactDescription {
    font-size: $smallFont;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    @include phones600 {
        padding: 0;
    }
}

.sendBtn {
    all: unset;
    box-sizing: border-box;
    font-size: $smallFont;
    font-weight: 700;
    color: white;
    background-color: $main;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid $main;
    transition: background-color .3s, color .3s;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: white;
            color: $main;
        }
    }

    width: 100%;
    margin-bottom: 20px;
}


//--------------------------------------

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;

    @include tablets850 {
        width: 100%;
    }
}

.formTitle {
    margin-bottom: 10px;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formInputHorizon {
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    & div {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        @include phones600 {
            margin-right: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include phones600 {
        flex-direction: column;
    }
}