@import '@/app/main';



.container {
    padding-right: 30px;
    width: 250px;
    // flex: 1;
    @include phones600 {
        padding-right: 0;
        min-width: 250px;
        width: 100%;
    }
}

.filterBtn {
    all: unset;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
    padding-bottom: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: $smallFont;

    border: 1px solid $someGrey;

    
    margin-bottom: 10px;
    color: $someGrey;
    
    transition: background-color .3s, color .3s, border .3s;
    
    &.active {
        cursor: pointer;
        background-color: $main;
        border: 1px solid $main;
        color: white;

        &:hover {
            background-color: $main2;
            color: $main;
        }

        &.resetBtn {
            background-color: $main2;
            border: 1px solid $main2;
            color: $main;

            &:hover {
                background-color: white;
            }
        }
    }
}

.message {
    text-align: center;
    font-weight: 600;
    font-size: $commonFont;
    color: $grey;
}